* {
box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;

}
/*NAVIGATION*/

.navigation {
height: 90px;
background: #333333;
}

nav {
height: 90px;

display:  flex;

padding: 20px;

font-size: 48px;

justify-content: space-around;
text-align: center;
}

a {
color:  #F2F2F2;
text-decoration: none;
}

header {
height: 450px;
margin-bottom: -50px;

display: flex;

justify-content: center;
align-items: center;
}

header img{
width: 300px;
height: 300px;

border-radius: 70%;
}

article {
height: 200px;
padding-bottom: 200px;
padding-top: 100px;

display: flex;

justify-content: center;
align-items: center;
flex-direction: column;
}

h1 {
font-style: normal;
font-weight: 900;
line-height: normal;
font-size: 72px;

color: #000000;
}

p {
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 36px;
text-align: center;

color: #000000;
}

.row {
justify-content: center;
display: flex;
}


.column:first-child {
padding-right: 30px;
}

.column:last-child {
padding-left: 30px;
}

.column {
width: 730px;
height: 900px;
}

.column img {
width: 685px;
height: 480px;
}

h4 {
padding-top: 20px;
font-style: lighter;
font-weight: 100;
line-height: normal;
font-size: 18px;

color: #828282;
}

h2 {
padding-top: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
font-size: 46px;

color: #000000;
}

.column p {
padding-top: 10px;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 26px;
text-align: left;

color: #000000;
}

footer{
height: 90px;
background: #333333;
padding: 20px;

font-size: 48px;

justify-content: center;
text-align: center;
}
